*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #edf2f4;
}

.navbar {
  position: fixed;
  top: 0;
  height: 45px;
  width: 100%;
  overflow: auto;
  background-color: #2b2d42;
  transition: 0.4s top ease-in-out;
}

.navbar > a {
  float: left;
  padding: 0.8rem 1.4rem;
  color: white;
  text-decoration: none;
}

main {
  max-width: 768px;
  width: 90%;
  margin: auto;
}

h1 {
  margin: 1.8rem 0;
}

footer {
  padding: 1rem;
}