*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
}

aside {
  flex: 2;
  padding: 1rem 0;
  background-color: #212529;
  color: white;
}

main {
  flex: 7;
  padding: 1rem;
  background-color: #f8f9fa;
}

.search-heading {
  padding: 0 1rem 1rem 1rem;
}

#search {
  width: 100%;
  outline: none;
  font-size: 1rem;
  border: none;
  padding: 8px;
}
.search-list {
  padding: 0;
  list-style: none;
}

.search-list > li {
  padding: 1rem;
  cursor: pointer;
}

.search-list > li:hover {
  background-color: #e9ecef;
  color: black;
}

